@define-mixin color-negative {
  background: var(--color-primary);
  color: var(--color-white);

  & a {
    color: currentColor;
  }

  & ::selection {
    background: var(--color-white);
    color: var(--color-primary);
  }
}
